  body.light-mode {
    background-color: white;
    color: black;
  }
  body.dark-mode {
    background-color: #1a1a1a;
    color: white;
  }
  /* Add this if you want links to be visible in dark mode */
  body.dark-mode a {
    color: white;
  }
  /* Add this if you want the select dropdowns to match the dark theme */
  body.dark-mode select {
    background-color: #1a1a1a;
    color: white;
    border: none;
  }

  body.dark-mode h5 {
    color: black;
}

body.dark-mode a {
    color: black;
}
